<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
		th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

	<style>
    .pending {
        color: orange;
        font-weight: bold;
    }
    .processing {
        color: blue;
        font-weight: bold;
    }
    .completed {
        color: green;
        font-weight: bold;
    }
</style>
	
</head>
<body>
	<section>
		<div class="container mt-5 p-5">
			<div class="row">
				<h1 class="text-center fw-bold">View Product Details</h1>
				<div class="col-md-10 offset-md-1">
					<div class="card">
					
					<table class="table">
  <thead>
    <tr>
      <th scope="col">1</th>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Status</th>
       <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="pro,c:${product}">
      <th scope="row">[[${c.count}]]</th>
      <td>[[${pro.productName}]]</td>
      <td>[[${pro.quantity}]]</td>
      <td>
            <span th:text="${pro.status}"
                 th:class="${pro.status == 'Pending' ? 'pending' : (pro.status == 'Processing' ? 'processing' : 'completed')}">

            </span>
        </td>

		
        <td>
            <a th:href="@{'/product/update/' + ${pro.orderId}} " class="text-decoration-none fw-bold">Next Status</a>
        </td>
    </tr>
  
  </tbody>
</table>
					
					</div>
				</div>
			</div>
		</div>	
	</section>
</body>
</html>